/* AccountSetting.css */

/* Existing styles... */

.accountsettings {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.accountsettings h1 {
    padding: 10px 20px;
}

.accountsettings .formsetting {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
}

.accountsettings .formsetting-group {
    display: flex;
    flex-direction: column;
    width: calc(30% - 10px);
    /* Adjust the width as needed */
    margin: 10px;
}

.accountsettings .formsetting-group label {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 5px;
}

.accountsettings .formsetting-group input {
    padding: 10px 20px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    outline: none;
}

.accountsettings .formsetting-group input:focus {
    border: 1px solid #00d3b7;
}

.accountsettings button {
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px auto; /* Center the button horizontally */
    cursor: pointer;
}

/* You can customize the colors and styles according to your design preferences */
