.container-cart {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px;
}

.empty-cart {
  background-color: #f8f8f8;
  color: #888;
  padding: 10px;
  border-radius: 5px;
  text-align: justify;
  font-size: 20px;
}

.cart-title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.cart-wrapper {
  display: flex;
}

.cart-items-wrapper {
  flex: 1;
  margin-right: 20px;
  height: 100%;
  overflow: auto; /* Điều chỉnh khoảng cách với order-summary */
}
.cart-items-wrapper h2 {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}
.cart-info {
  margin-bottom: 10px;
}

.total {
  margin-bottom: 10px;
}
.cart-items {
  list-style: none;
  padding: 0;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.item-info {
  display: flex;
  align-items: center;
}

.item-image {
  width: 80px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
}

.item-name {
  font-weight: bold;
}

.item-price {
  margin-top: 5px;
}

.quantity {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.quantity-btn {
  width: 20px;
  height: 20px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 5px;
}

.quantity-value {
  margin: 0 5px;
}

.remove-btn {
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.order-summary {
  flex: 1;
  height: 100%;
  background-color: #f0f0f0;
  padding: 5px;
  position: relative;
  padding-bottom: 50px;
  margin-top: 10px; 
  margin-bottom: 10px;
}

.order-summary h2 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.order-summary button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #0dd3b7;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
}

fieldset {
  border: 1.5px solid #938f8f; /* Viền khung */
  padding: 10px; /* Khoảng cách từ viền khung đến nội dung bên trong */
}

.order-summary button:hover {
  background-color: #0dd3b7;
}

.product-list {
  list-style: none;
  padding: 0;
}

.product-list-item {
  margin-bottom: 10px;
}

.product-list-item button {
  background-color: #0dd3b7;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}