.rating-container {
    display:flex;
    width: 100%;
    /* Đảm bảo container rộng 100% */
}

.comment-container {
    margin-right: 10px;
        margin-left: 10px;
}

.islogin-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 5px;
    margin-left: 150px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 60px;
    border-radius: 8px;
    height: 200px;
}
.login-text,
.login-button-container,
.signup-text {
    margin-bottom: 25px;
}
.comment-send-button{
    display: flex;
    justify-content: flex-end;
}
.rating-container {
    display:flex;
    width: 100%;
    /* Đảm bảo container rộng 100% */
}

.comment-container {
    margin-top: 20px;
    margin-right: 10px;
        margin-left: 20px;
}
form{
    padding: 1rem 0;
}

.islogin-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 5px;
    margin-left: 200px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 60px;
    border-radius: 8px;
    height: 200px;
}
.login-text,
.login-button-container,
.signup-text {
    margin-bottom: 25px;
}
.comment-send-button{
    display: flex;
    justify-content: flex-end;
}
@media (max-width: 768px) {
    .islogin-form {
        margin-top: 0;
    }

    .comment-container {
        margin-top: 20px;
    }
}