@tailwind base;
@tailwind components;
@tailwind utilities;
.link-hover:hover{
    color: blue;
    text-decoration: underline;
}
.tabhome-btn:hover{
    outline: 0.1px solid black;
    color: black;
    font-weight:700;
}

body {
    overflow: auto !important;
  }
  
  /* ::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888;
  } */