# Build artifacts
bin/
obj/

# User-specific files
*.user
*.suo

# NuGet Packages
*.nuget/
*.nupkg

# Visual Studio files
.vscode/
.vs/

# Resharper files
_ReSharper/
*.resharper

# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini
